
@view-transition {
    navigation: auto;
  }

/* Create a custom animation */
@keyframes move-out {
    from {
      transform: translateY(0%);
    }
  
    to {
      transform: translateY(-100%);
    }
  }
  
  @keyframes move-in {
    from {
      transform: translateY(100%);
    }
  
    to {
      transform: translateY(0%);
    }
  }
  
  /* Apply the custom animation to the old and new page states */
  ::view-transition-old(transitionable) {
    animation: 0.4s ease-in both move-out;
  }
  
  ::view-transition-new(transitionable) {
    animation: 0.4s ease-in both move-in;
  }

  .transitionable {
    view-transition-name: transitionable;
  }
  